{% extends "base.html" %}

{% block styles %}
<link href="/static/css/main.css" rel="stylesheet">
<link href="/static/css/charity.css" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="row">
    <div class="large-2 column" id="category-select">
        <ul class="side-nav">
            {% for cat in categories %}
                <li><a style="color:white;" href="/people/{{ cat.name.split|join:"_" }}">{{ cat.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
    <div class="large-10 column" id="gallery">
        
        <div class="row content">
            <ul class="breadcrumbs">
                <li><a href="/people/">CHARITIES</a></li>
                <li>{{ abbreviation }}</li>
            </ul>
            <div class="large-4 column" id="left-action">
                <img src="{{ pictureurl|slice:"31:" }}">
            </div>
            <div class="large-8 column" id="right-info">
                <h1>{{ source_charity }}</h1>
                <h5>{{ location }}</h5>
                <p>{{ description }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}